<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Notification - SimpleWeather WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SimpleWeather WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SimpleWeather.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>034895441B8F711A00F43F05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>034895581B8F711B00F43F05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>034895631B8F711B00F43F05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0348956C1B8F711B00F43F05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
